GOOGLE_CLIENT_EMAIL=''
GOOGLE_PRIVATE_KEY=''
DRIVE_SOURCE_FOLDER_ID=''
DRIVE_PUBLISHED_FOLDER_ID=''
MARK_STRATEGY='properties'
META_GRAPH_ACCESS_TOKEN=''
META_PAGE_ID=''
META_INSTAGRAM_USER_ID=''
PUBLIC_BASE_URL=''
MEDIA_SIGNING_SECRET=''
CRON_SECRET=''
BATCH_SIZE='1'
DEFAULT_CAPTION=''
